# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# Firebase env + debug
.env
.runtimeconfig.json
encoded.txt
service-account-key.json
firebase-debug.log

.DS_Store
*.log
